<!DOCTYPE html>
<html lang="en">

<head>
  <Viewport="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Segment Button</title>
  <link rel="stylesheet" href="../../common.css" />
  <script src="../../common.js"></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@navify/core@6/dist/navify/navify.esm.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@navify/core@6/css/navify.bundle.css" />

  <style>
    .container {
      flex-flow: column;
      justify-content: space-evenly;

      max-width: 400px;
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <nav-app>
    <nav-content>
      <div class="container">
        <nav-segment value="heart">
          <nav-segment-button value="call">
            <nav-icon name="call"></nav-icon>
          </nav-segment-button>
          <nav-segment-button value="heart">
            <nav-icon name="heart"></nav-icon>
          </nav-segment-button>
          <nav-segment-button value="pin">
            <nav-icon name="pin"></nav-icon>
          </nav-segment-button>
        </nav-segment>

        <nav-segment value="heart">
          <nav-segment-button value="call">
            <nav-label>Call</nav-label>
            <nav-icon name="call"></nav-icon>
          </nav-segment-button>
          <nav-segment-button value="heart">
            <nav-label>Heart</nav-label>
            <nav-icon name="heart"></nav-icon>
          </nav-segment-button>
          <nav-segment-button value="pin">
            <nav-label>Pin</nav-label>
            <nav-icon name="pin"></nav-icon>
          </nav-segment-button>
        </nav-segment>

        <nav-segment value="heart">
          <nav-segment-button value="call" layout="icon-bottom">
            <nav-label>Call</nav-label>
            <nav-icon name="call"></nav-icon>
          </nav-segment-button>
          <nav-segment-button value="heart" layout="icon-bottom">
            <nav-label>Heart</nav-label>
            <nav-icon name="heart"></nav-icon>
          </nav-segment-button>
          <nav-segment-button value="pin" layout="icon-bottom">
            <nav-label>Pin</nav-label>
            <nav-icon name="pin"></nav-icon>
          </nav-segment-button>
        </nav-segment>

        <nav-segment value="heart">
          <nav-segment-button value="call" layout="icon-start">
            <nav-label>Call</nav-label>
            <nav-icon name="call"></nav-icon>
          </nav-segment-button>
          <nav-segment-button value="heart" layout="icon-start">
            <nav-label>Heart</nav-label>
            <nav-icon name="heart"></nav-icon>
          </nav-segment-button>
          <nav-segment-button value="pin" layout="icon-start">
            <nav-label>Pin</nav-label>
            <nav-icon name="pin"></nav-icon>
          </nav-segment-button>
        </nav-segment>

        <nav-segment value="heart">
          <nav-segment-button value="call" layout="icon-end">
            <nav-label>Call</nav-label>
            <nav-icon name="call"></nav-icon>
          </nav-segment-button>
          <nav-segment-button value="heart" layout="icon-end">
            <nav-label>Heart</nav-label>
            <nav-icon name="heart"></nav-icon>
          </nav-segment-button>
          <nav-segment-button value="pin" layout="icon-end">
            <nav-label>Pin</nav-label>
            <nav-icon name="pin"></nav-icon>
          </nav-segment-button>
        </nav-segment>
      </div>
    </nav-content>
  </nav-app>
</body>

</html>
